<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Kyla Hidalgo - Graphic Designer</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>
  <section class="splash relative">
    <div class="splash-content">
      <h1 class="push-0 tena">Kyla Hidalgo</h1>
      <p>Graphic Designer</p>
      <small class="micro pin-bc push">Portfolio coming soon.</small>
    </div>
  </section>
</body>
</html>
